<div class="container">
    <div class="d-flex justify-content-between pt-4">
    <h1>{{currentPokemon.name | titlecase}}</h1>
    <button 
    type="button" 
    (click)="navigateToHome()"
    class="m-2 btn btn-outline-dark">Back Home</button>
    </div>
    <div class="row top-stats my-5 p-5">
        <div class="col-lg-8 col-12 order-lg-1 order-2">
            <div class="row">
                <div class="col-sm-6
                col-md-4
                col-lg-3
                col-12">
                    <h2>Height</h2>
                    <p>{{currentPokemon.height}} ft</p>
                </div>
                <div class="col-sm-6
                col-md-4
                col-lg-3
                col-12">
                    <h2>Abilities</h2>
                    <p>{{abilities}}</p>
                </div>
                <div class="col-sm-6
                col-md-4
                col-lg-3
                col-12">
                    <h2>Types</h2>
                    <p>{{convertTypesArrtoString()}}</p>
                </div>
                <div class="col-sm-6
                col-md-4
                col-lg-3
                col-12">
                    <h2>Weight</h2>
                    <p>{{currentPokemon.weight}} lbs</p>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <ul class="list-group list-group-flush bg-secondary">
                        <li class="list-group-item "><h3>Base Stats</h3></li>
                        <li class="list-group-item"><div class="d-flex justify-content-between"><span>HP</span><span>{{currentPokemon.stats[0].base_stat}}</span></div></li>
                        <li class="list-group-item"><div class="d-flex justify-content-between"><span>Attack</span><span>{{currentPokemon.stats[1].base_stat}}</span></div></li>
                        <li class="list-group-item"><div class="d-flex justify-content-between"><span>Defense</span><span>{{currentPokemon.stats[2].base_stat}}</span></div></li>
                        <li class="list-group-item"><div class="d-flex justify-content-between"><span>Special Attack</span><span>{{currentPokemon.stats[3].base_stat}}</span></div></li>
                        <li class="list-group-item"><div class="d-flex justify-content-between"><span>Special Defense</span><span>{{currentPokemon.stats[4].base_stat}}</span></div></li>
                        <li class="list-group-item"><div class="d-flex justify-content-between"><span>Speed</span><span>{{currentPokemon.stats[5].base_stat}}</span></div></li>
                      </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-11 order-lg-2 order-1 py-2">
            <img src="{{currentPokemon.sprites.other['official-artwork'].front_default}}" class="img-fluid w-100 p-2 mx-auto d-block" alt="...">
        </div>
    </div>
    <div class="mid-stats my-5 p-5">
        <h2 class="py-2">Species Information</h2>
        <div class="row d-flex flex-row flex-wrap">
            <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <h3>Name</h3>
            <p>{{currentPokemon.name}}</p>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <h3>Generation</h3>
            <p>{{currentSpecies.generation.name}}</p>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <h3>Genus</h3>
            <p>{{currentSpecies.genera[0].genus}}</p>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <h3>Color</h3>
            <p>{{currentSpecies.color.name}}</p>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <h3>Habitat</h3>
            <p>{{currentSpecies.habitat.name}}</p>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <h3>Capture Rate</h3>
            <p>{{currentSpecies.capture_rate}}</p>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <h3>Growth Rate</h3>
            <p>{{currentSpecies.growth_rate.name}}</p>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <h3>Varieties</h3>
            <div *ngFor="let specie of currentSpecies.varieties; let i = index"><div class="varieties w-100 p-3 my-2">{{specie.pokemon.name}}</div></div>
        </div>
        </div>
    </div>
    <div class="evolution-stats my-5 p-5">
        <h2>Evolution Chain</h2>

        <div class="d-flex row w-100">
            <div *ngFor="let chain of evoChainClean; let i = index" class="col-12 col-sm-6 col-md-4">
            <div class="card 
            mr-4 my-5 rounded-3 
            d-flex 
            align-items-center 
            justify-content-center">
                <img src="{{getMatchingImage(chain.species_name)}}"
                 onError="this.onerror=null;this.src='../../assets/missing.png'"
                  class="card-img w-50" alt="...">
                <div class="card-body">
                  <p class="card-text">{{chain.species_name}}</p>
                </div>
              </div>
            </div>
        </div>

       
    </div>

</div>

