.top-stats, .list-group-item, .mid-stats, .evolution-stats, .card {
    background-color: #f3f4f6 !important;
}

.col-mid {
    width: 15%;
}

.card {
    min-height: 250px;
}

.card-img {
    max-height:150px;
    margin-top:2rem;
}

.varieties {
    background-color: #d1d5db;
    border-radius: 2rem;
}