<div class="container">
    <h1>{{currentPokemon.name | titlecase}}</h1>
    <div class="row top-stats my-5">
        <div class="col-8">
            <div class="row">
                <div class="col-sm-4
                col-lg-3
                col-6">
                    <h2>Height</h2>
                    <p>{{currentPokemon.height}} ft</p>
                </div>
                <div class="col-sm-4
                col-lg-3
                col-6">
                    <h2>Abilities</h2>
                    <p>{{abilities}} ft</p>
                </div>
                <div class="col-sm-4
                col-lg-3
                col-6">
                    <h2>Types</h2>
                    <p>{{abilities}}</p>
                </div>
                <div class="col-sm-4
                col-lg-3
                col-6">
                    <h2>Weight</h2>
                    <p>{{currentPokemon.weight}} lbs</p>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <ul class="list-group list-group-flush bg-secondary">
                        <li class="list-group-item "><h3>Base Stats</h3></li>
                        <li class="list-group-item"><div class="d-flex justify-content-between"><span>HP</span><span>{{currentPokemon.stats[0].base_stat}}</span></div></li>
                        <li class="list-group-item"><div class="d-flex justify-content-between"><span>Attack</span><span>{{currentPokemon.stats[1].base_stat}}</span></div></li>
                        <li class="list-group-item"><div class="d-flex justify-content-between"><span>Defense</span><span>{{currentPokemon.stats[2].base_stat}}</span></div></li>
                        <li class="list-group-item"><div class="d-flex justify-content-between"><span>Special Attack</span><span>{{currentPokemon.stats[3].base_stat}}</span></div></li>
                        <li class="list-group-item"><div class="d-flex justify-content-between"><span>Special Defense</span><span>{{currentPokemon.stats[4].base_stat}}</span></div></li>
                        <li class="list-group-item"><div class="d-flex justify-content-between"><span>Speed</span><span>{{currentPokemon.stats[5].base_stat}}</span></div></li>
                      </ul>
                </div>
            </div>
        </div>
        <div class="col-4">
            <img src="{{currentPokemon.sprites.other['official-artwork'].front_default}}" class="img-fluid w-100 p-2 mx-auto d-block" alt="...">
        </div>
    </div>
    <div class="mid-stats">
        <h2>Species Information</h2>
        <div class="row d-flex flex-row flex-wrap">
            <div class="col-2">
            <h3>Name</h3>
            <p>{{currentPokemon.name}}</p>
        </div>
        <div class="col-2">
            <h3>Generation</h3>
            <p>{{currentSpecies.generation.name}}</p>
        </div>
        <div class="col-2">
            <h3>Genus</h3>
            <p>{{currentSpecies.genera[0].genus}}</p>
        </div>
        <div class="col-2">
            <h3>Color</h3>
            <p>{{currentSpecies.color.name}}</p>
        </div>
        <div class="col-2">
            <h3>Habitat</h3>
            <p>{{currentSpecies.habitat.name}}</p>
        </div>
        <div class="col-2">
            <h3>Capture Rate</h3>
            <p>{{currentSpecies.capture_rate}}</p>
        </div>
        <div class="col-2">
            <h3>Growth Rate</h3>
            <p>{{currentSpecies.growth_rate.name}}</p>
        </div>
        </div>
    </div>
    <div class="evolution-stats">
        <h2>Evolution Chain</h2>

        <div class="card" style="width: 18rem;">
            <img src="{{'..'}}" onError="this.src='../../assets/missing.png'" class="card-img-top w-50" alt="...">
            <div class="card-body">
              <p class="card-text">{{evolutionChain.chain.species.name}}</p>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="{{'..'}}" onError="this.src='../../assets/missing.png'" class="card-img-top w-50" alt="...">
            <div class="card-body">
              <p class="card-text">{{currentPokemon.name}}</p>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="{{'..'}}" onError="this.src='../../assets/missing.png'" class="card-img-top w-50" alt="...">
            <div class="card-body">
              <p class="card-text">{{evolutionChain.chain.species.name}}</p>
            </div>
          </div>
    </div>
    <p>pokemon-stats works!</p>
</div>

