<div class="container">
    <h1>{{currentPokemon.name | titlecase}}</h1>
    <div class="row top-stats">
        <div class="col-8">
            <div class="row">
                <div class="col-sm-4
                col-lg-3
                col-6">
                    <h2>Height</h2>
                    <p>{{currentPokemon.height}} ft</p>
                </div>
                <div class="col-sm-4
                col-lg-3
                col-6">
                    <h2>Abilities</h2>
                    <p>{{abilities}} ft</p>
                </div>
                <div class="col-sm-4
                col-lg-3
                col-6">
                    <h2>Types</h2>
                    <p>{{abilities}}</p>
                </div>
                <div class="col-sm-4
                col-lg-3
                col-6">
                    <h2>Weight</h2>
                    <p>{{currentPokemon.weight}} lbs</p>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <ul class="list-group list-group-flush bg-secondary">
                        <li class="list-group-item "><h3>Base Stats</h3></li>
                        <li class="list-group-item"><div class="d-flex justify-content-between"><span>HP</span><span>{{currentPokemon.stats[0].base_stat}}</span></div></li>
                        <li class="list-group-item"><div class="d-flex justify-content-between"><span>Attack</span><span>{{currentPokemon.stats[1].base_stat}}</span></div></li>
                        <li class="list-group-item"><div class="d-flex justify-content-between"><span>Defense</span><span>{{currentPokemon.stats[2].base_stat}}</span></div></li>
                        <li class="list-group-item"><div class="d-flex justify-content-between"><span>Special Attack</span><span>{{currentPokemon.stats[3].base_stat}}</span></div></li>
                        <li class="list-group-item"><div class="d-flex justify-content-between"><span>Special Defense</span><span>{{currentPokemon.stats[4].base_stat}}</span></div></li>
                        <li class="list-group-item"><div class="d-flex justify-content-between"><span>Speed</span><span>{{currentPokemon.stats[5].base_stat}}</span></div></li>
                      </ul>
                </div>
            </div>
        </div>
        <div class="col-4">
            <img src="{{currentPokemon.sprites.other['official-artwork'].front_default}}" class="img-fluid w-100 p-2 mx-auto d-block" alt="...">
        </div>
    </div>
    <div class="mid-stats">
        <h2>Species Information</h2>
        <div class="row">
            <div class="col-mid">
            <h3>Name</h3>
            <p></p>
        </div>
        <div class="col-mid">
            <h3>Generation</h3>
            <p></p>
        </div>
        </div>
    </div>
    <p>pokemon-stats works!</p>
</div>

