.tag-button {
    display: flex;
}

.fail {
    background-color: rgb(255, 164, 164);
}

.tagBg-normal {
    border-color: #a8a77c;
}

.tagBg-fire {
   
    border-color: #f8a463
   
}

.tagBg-fighting {
    border-color: #bb5544;
   
}

.tagBg-water {
    border-color: #628feb;
    
}

.tagBg-electric {
    border-color: #ffcc33;
    
}

.tagBg-grass {
    border-color: #77cc55;
   
}

.tagBg-ice {
    border-color: #66ccff;
   
}

.tagBg-bug {
    border-color: #aabb22;
    
}

.tagBg-poison {
    border-color: #a33e9d;
    //color:white;  
}

.tagBg-ground {
    border-color: #ddbb55;
    
}

.tagBg-flying {
    border-color: #8899ff;  
}

.tagBg-psychic {
    border-color: #fb95be;  
}

.tagBg-rock {
    border-color: #bbaa66;
    
}

.tagBg-ghost {
    border-color: #6666bb;
    //color: white;
}

.tagBg-ghost:hover, .tagBg-dragon:hover, .tagBg-dark:hover, .tagBg-poison:hover, .tagBg-shadow:hover {
    color: black;
}

.tagBg-dragon {
    border-color: #7766ee;
    //color: white;
}

.tagBg-steel {
    border-color: #aaaabb;
    
}

.tagBg-fairy {
    border-color: #ee99ee;
    
}

.tagBg-shadow {
    border-color: #978cae;
    //color:white
}

.tagBg-dark {
    border-color: #775544;
    //color: white;
}

.tagBg-activated {
    background-color: #000000;
    color:white; 
}

