.tag-button {
    display: flex;
}

.fail {
    background-color: rgb(255, 164, 164);
}

.tagBg-normal {
    background-color: #a8a77c;
}

.tagBg-fire {
    background-color: #f8a463;
   
}

.tagBg-fighting {
    background-color: #bb5544;
   
}

.tagBg-water {
    background-color: #628feb;
    
}

.tagBg-electric {
    background-color: #ffcc33;
    
}

.tagBg-grass {
    background-color: #77cc55;
   
}

.tagBg-ice {
    background-color: #66ccff;
   
}

.tagBg-bug {
    background-color: #aabb22;
    
}

.tagBg-poison {
    background-color: #a33e9d;
    color:white;
    
}

.tagBg-ground {
    background-color: #ddbb55;
    
}

.tagBg-flying {
    background-color: #8899ff;  
}

.tagBg-psychic {
    background-color: #fb95be;  
}

.tagBg-rock {
    background-color: #bbaa66;
    
}

.tagBg-ghost {
    background-color: #6666bb;
    color: white;
}

.tagBg-ghost:hover, .tagBg-dragon:hover, .tagBg-dark:hover, .tagBg-poison:hover, .tagBg-shadow:hover {
    color: black;
}

.tagBg-dragon {
    background-color: #7766ee;
    color: white;
}

.tagBg-steel {
    background-color: #aaaabb;
    
}

.tagBg-fairy {
    background-color: #ee99ee;
    
}

.tagBg-shadow {
    background-color: #978cae;
    color:white
}

.tagBg-dark {
    background-color: #775544;
    color: white;
}

.tagBg-activated {
    background-color: #000000;
    color:white; 
}

