
<div class="d-flex flex-row flex-wrap">
    <div *ngFor="let tag of tags; let i = index">
        <button 
        type="button" 
        (click)="toggleTag(i)" 
        [ngClass]="tag.toggled ? 'tagBg-activated': 'btn-outline-dark'" 
        class="m-2 btn tag-button tagBg-{{tag.name}}">{{tag.name}}</button>
        </div>
</div>

<div 
class="success m-2 p-2"
*ngIf="localPokemonService.localPokemons.length > 0 && activeTags.length > 0;">
    Found {{localPokemonService.localPokemons.length}} Pokemons matching {{activeTags.join(' or ')}}.
  </div>

  <div 
  class="fail m-2 p-2"
  *ngIf="localPokemonService.localPokemons.length === 0 && activeTags.length > 0;">
    Sorry, No Pokemon Found
  </div>
