.card-column {
    width:12.5%;
}

.card {
    min-height:260px;
    
}

.card-title {
    text-transform: uppercase;
    text-align:center;
}

.card-image {
    max-height:125px;
}

a {
    cursor: pointer;
}

.bg-normal {
    background-color: #a8a77c;
    color: #fff;
}

.bg-fire {
    background-color: #f8a463;
    color: #fff;
}

.bg-water {
    background-color: #628feb;
    color: #fff;
}

.bg-grass {
    background-color: #77cc55;
    color: #fff;
}

.bg-bug {
    background-color: #aabb22;
    color: #fff;
}

.bg-poison {
    background-color: #a33e9d;
    color: #fff;
}
