.card-column {
    width:12.5%;
}

.card {
    min-height:260px;
    
}

.card-title {
    text-transform: uppercase;
    text-align:center;
}

.card-image {
    max-height:125px;
}

a {
    cursor: pointer;
}