<div class="container">
    <div class="row">
        <div *ngFor="let pokemon of localPokemonService.localPokemons; let i = index" class="col-sm-6 col-md-4 
        col-lg-3 col-xl-2
        col-12">
        <a (click)="navigateToPokemon(i)"
    
        class="link-secondary text-decoration-none">
            <div class="shadow card w-100 my-2" style="width: 18rem;">
                <p class="m-3 card-title"
                [innerHtml] ="pokemon.name | highlightText : this.searchService.getSearchString()"
                >
                </p>
                <img 
                src="{{pokemon.imageSimplified}}" 
                onError="this.onerror=null;this.src='../../assets/missing.png'" 
                class="img-fluid w-50 mx-auto d-block card-image" alt="...">
                <div class="card-body">
                  <!-- <p class="card-text">{{pokemon.name}}</p> -->
                </div>
              </div>
              </a>
        </div>
    </div>
</div>
